body{
  height: 100%;
  display: flex;
  font-family: 'Libre Baskerville';
}

#root, #App{
  height: 100%;
  width: 100%;
}

.Inhalt{
  display: flex;
  text-align: center;
  margin: 0% 20%;
  position: relative;
  color: #ffffff;
}

#header{
  text-align: center;
}

/* button{

  background: #eeeeee;
  box-shadow: 0px 0px 0px transparent;
  border: 2px solid black;
  text-shadow: 0px 0px 0px transparent;
  margin: 0.5em;
  padding: 1em;
  border-radius: 10px;
  outline: none;
} */

button{
  padding: 12px 30px;
  background: #8B7B56;
  border: none;
  border-radius: 6px;
  margin: 5px 20%;
  width: 60%;
  height: 40px;
  color: #FFF3E2;
  font-family: "Caladea";
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: 200ms background, 200ms transform;
}

button:first-child{
  margin-top: 60px;;
}

button:hover{
  background: rgb(102, 90, 63);
  transform: scale(1.05);
}

button:active, button:focus{
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

#buttons{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
}
h1{
  color: white;
  font-size: 25px;
  padding-top: 1em;
}
#Titel{
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;;
}

#Beschreibung{
  font-size: 20px;
  line-height: 30px;
  opacity: 0.7;
}

.Background{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("https://texturehaven.com/files/textures/jpg/4k/concrete_floor_02/concrete_floor_02_AO_4k.jpg");
  background-position: center;
  background-size: cover;
}

.Background .Gradient{
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(25,50,70,0.7) 0%, rgba(20,41,57,1) 80%, rgba(14,29,41,1) 100%);
  z-index: 1;
}

.Background .Image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://images.unsplash.com/photo-1524275804141-5e9f2bc5a71d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=ivana-cajina-LlDQPnErFxo-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#id{
  width: 2em;
  height: 2em;
}

p{
  line-height: 35px;
  font-size: 22px;;
  margin-bottom: 50px;
}